body {
    margin: 0; 
    font-family: 'Roboto Mono';
    font-size: 20px;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column; 
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.navbar p {
    display: inline-block; 
    padding: 10px 10px;
}

a {
    color: black;
}

h2 {
    text-align: center;
}

.mission { 
    display: flex;
    height: 290px;
    background-image: url(./images/nasa-Q1p7bh3SHj8-unsplash.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

.content {
    width: 80%;
    margin: auto;
    background: white;
    border-radius: 15px;
}


.assets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.asset {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.asset img{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 10px;
    height: auto;
}
.asset span{
    padding: 5px; 
    min-width: 240px;
    font-weight: bold;
    text-align: center;
}

